html{
    font-size: 16px;
}

/* Establishing a clean slate */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(88, 88, 109); */
    background-color: rgb(173, 173, 173);
}

/* Styling of container */
section{
    text-align: center;
    /* border: 2px solid rgb(43, 43, 43); */
    padding: 0.81rem 2.81rem;
    border-radius: 40px;
    background-color: rgb(110, 110, 124);
}

/* H1 styling */
h1{
    margin-bottom: 25px;
    color: rgb(27, 27, 27);
    font-family: 'Nunito';
}

/* Styling of HTML input elements */
#length{
    outline: none;
}

input{
    margin-bottom: 20px;
    padding: 0.31rem 0.44rem;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    border: none;
}

/* Styling of button */
button{
    padding: 11px 14px;
    background-image: linear-gradient(to right, rgb(21, 21, 31) , rgb(42, 42, 61));
    border-radius: 10px;
    border: none;
    color: white;
    transition: all 0.05s;
    text-decoration: none;
    font-family: 'Nunito';
    margin-bottom: 10px;
}

/* Styling of svg icons */
svg{
    width: 13px;
    height: 13px;
    fill: rgb(69, 69, 70);
    position: absolute;
    transform: translate(4.38rem, -2.38rem); 
}

/* Container for positioning dynamic javascript text */
.wrap{
    position: static;
}

/* Styling of dynamic javascript text */
.wrap p{
    position: absolute;
    transform: translate(10.56rem, -7.7rem); 
    font-size: 11px;
    color: rgb(23, 23, 49);
}
